@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #feafc3;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
/* Навигация */

.page-header {
  width: 1170px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.logo-header {
  display: block;
  width: 137px;
  height: 56px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  color: #2d3440;
}

.navigation-user {
  width: 431px;
  margin-left: auto;
  justify-content: flex-end;
}

.phone-number {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

/* Слайдер */
.slider-peacture {
  display: flex;
}

.slider-description {
  width: 429px;
}

.title-items-slider {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.title-paragraph-slider {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.help-link {
  min-width: 139px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  background-color: #fcfcfc;
  padding: 12px 32px;
  border-radius: 50px 50px 50px 50px;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.slider-pagination {
  list-style-type: none;
}

.social-list {
  list-style-type: none;
}

.main-text {
  margin: 0;
  padding: 0;
}

.title-items {
  margin: 0;
  padding: 0;
}

/* Акции */

.special-offer {
  display: flex;
}


.offer-main-title {
  display: block;
  min-width: 434px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.offer-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.offer-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.help-link-offer {
  text-decoration: none;
  width: 176px;
}

/* Популярные вкусы */
.popular-main-title {
  margin: 0;
  padding: 0;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-item {
  margin: 0;
  padding: 0;
}

.product-title {
  margin: 0;
  padding: 0;
}

.product-price {
  margin: 0;
  padding: 0;
}

/* Приемущества */


.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Контакты */

.contact-text {
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-decoration: none;
color: #2d3440;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer-item {
  margin: 0;
  padding: 0;
}
