@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #feafc3;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Навигация */

.page-header {
  width: 1170px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 24px;
}

.logo-header {
  display: block;
  width: 137px;
  height: 56px;
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  align-self: center;
}


.navigation-link {
  text-decoration: none;
  color: #2d3440;
  padding: 8px 16px;
}

.navigation-link-right {
  display: inline-block;
  box-sizing: border-box;
  background-color: #ffcbd8;
  border-radius: 50px 50px 50px 50px;
  border: none;
}

.navigation-item-right {
  margin-left: 16px;
}

.navigation-user {
  margin-left: auto;
  justify-content: flex-end;
}

.phone-number {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.navigation-link-search {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.navigation-link-catalog::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/icon-arrow-bottom.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 6px;
  vertical-align: middle;
}

.navigation-link-search::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/icon-search.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.navigation-link-enter::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/icon-enter.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 6px;
  vertical-align: middle;
}

.navigation-link-add::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/icon-add.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 6px;
  vertical-align: middle;
}

/* Слайдер */
.main-index {
  width: 1170px;
  margin: 0 auto;
}

.popular-goods {
  margin-bottom: 80px;
}


.slider-peacture {
  display: flex;
}

.slider-description {
  width: 429px;
  align-self: center;
  margin-left: 70px;
}

.title-items {
  margin: 0;
  padding: 0;
}

.main-text {
  margin: 0;
  padding: 0;
}

.title-items-slider {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 24px;
}

.title-paragraph-slider {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 48px;
}

.help-link {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  background-color: #fcfcfc;
  padding: 12px 32px;
  border-radius: 50px 50px 50px 50px;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

.ice-wrapper {
  position: relative;
  width: 367px;
  margin-left: 26px;
}

.ice-wrapper::before {
  content: "";
  position: absolute;
  width: 327px;
  height: 312px;
  background-color: #ffcbd8;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);


}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}


.social-list {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.images-wrapper {
  display: flex;
}

.slider-images {
  align-self: center;
  margin: 0;
}

.slider-image-current {
  display: inline;
  text-align: center;
}

.slider-images-caramel {
  background-image: url(../images/ice-cream/ice-caramel-mini.png);
  width: 66px;
  height: 150px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider-images-banana {
  background-image: url(../images/ice-cream/ice-banana-mini.png);
  width: 66px;
  height: 150px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider-images-strawberry {
  background-image: url(../images/ice-cream/ice-strawberry-mini.png);
  width: 66px;
  height: 150px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.social-list:not(:first-child) .social-item {
  padding-left: 16px;
}

.social-link::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-color: #fcfcfc;
  mask-size: 24px 24px;
  -webkit-mask-size: 24px 24px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
}

.social-link-tg::after {
  mask-image: url(../images/icons/icon-tg.svg);
  -webkit-mask-image: url(../images/icons/icon-tg.svg);
}

.social-link-vk::after {
  mask-image: url(../images/icons/icon-vk.svg);
  -webkit-mask-image: url(../images/icons/icon-vk.svg);
}

.social-link-yt::after {
  mask-image: url(../images/icons/icon-youtube.svg);
  -webkit-mask-image: url(../images/icons/icon-youtube.svg);
}

.social-link:hover {
  background-color: #000000;
  background-clip: padding-box;
}

.social-link:active {
  background-color: #b9b9b9;
  background-clip: padding-box;
}

.social-link:disabled {
  background-color: #000000;
}

/* Акции */

.special-offer {
  margin-bottom: 81px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.offer-list {
  position: relative;
  width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px 230px 36px 36px;
  box-sizing: border-box;
}

.offer-main-title {
  display: block;
  min-width: 434px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  margin-bottom: 55px;
}

.offer-title {
  margin: 0 0 28px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.offer-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 28px;
}

.help-link-offer {
  text-decoration: none;
}

.offer-list-raspberries::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 250px;
  background-image: url(../images/pictures/raspberries.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 23px;
  right: 20px;
}

.offer-list-marshmallow::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 250px;
  background-image: url(../images/pictures/marshmallow.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 23px;
  right: 20px;
}

/* Популярные вкусы */
.popular-flavor {
  margin-bottom: 80px;
}

.popular-main-title {
  margin: 0;
  padding: 0 0 56px 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-item {
  display: block;
  width: 270px;
  margin: 0;
  padding: 0;
  padding-top: 51px;
  text-align: center;
}

.product-discription {
  padding-bottom: 16px;
}

.product-wrapper {
  background-color: #fcfcfc;
  padding: 0 40px 24px 40px;
  border-radius: 8px;
}

.ice-catalog-image {
  margin-top: -51px;
  padding-bottom: 16px;
}

.product-title {
  margin: 0;
  padding: 0 0 8px 0;
}

.product-price {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.product-link-vr {
  position: relative;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
}

.product-link-vr::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-image: url(../images/icons/icon-add.svg);
  background-position: center;
  background-repeat: no-repeat;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}


/* Приемущества */
.advantages {
  border: 24px solid;
  border-image: url(../images/background/background-advantages.jpg) 24 round round;
  background-color: #fcfcfc;
  padding: 40px 56px;
  margin-bottom: 80px;
}

.title-items-advantages {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  margin-bottom: 56px;
}

.advantages-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 506px 506px;
  column-gap: 32px;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Блог */

.news-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog {
  background-image: url(../images/background/background-news.jpg);
  background-repeat: no-repeat;
  width: 570px;
  min-width: 224px;
  padding: 32px 0 67px 32px;
}

.main-text-blog {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding-bottom: 8px;
}

.blog-description {

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 303px;
  text-decoration: none;
  color: #2d3440;
  display: block;
}

/* Подписаться */

.subscribe {
  width: 558px;
  border: 6px solid;
  border-image: url(../images/background/background-subscribe.jpg) 6 round round;
  background-color: #fcfcfc;
  padding: 26px 26px;
}

.main-subscribe {
  margin-bottom: 42px;
}


.input-subscribe {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 332px;
  padding: 16px 14px;
  border: 2px solid #b9b9b9;
  color: #b9b9b9;
  border-radius: 4px 4px 4px 4px;
  box-sizing: border-box;
}

.button-subscribe {
  background-color: #ff2f64;
  color: #fcfcfc;
  padding: 12px 32px;
  margin-left: 14px;
}

/* Доставка */

.delivery {
  display: flex;
  background-image: url(../images/background/background-delivery.png);
  width: 1170px;
  margin-bottom: 80px;
}

.delivery-main {
  background-color: #fcfcfc;
  padding: 40px 40px 42px 40px;
  margin: 64px 64px;
}

.title-items-delivery {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 24px;
  margin-right: 150px;
}

.delivery-description {
  margin-left: 100px;
  align-self: center;
}

.main-text-delivery {
  margin-bottom: 32px;
}

.delivery-form-top {
  margin: 0;
  display: flex;

}

.fild-phone {
  padding: 16px 14px;
  width: 287px;
  box-sizing: border-box;
}

.fild-form-phone {
  display: block;
  margin-left: 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.fild-date {
  width: 117px;
  padding: 16px 14px;
  box-sizing: border-box;
}



/* Контакты */

.cotact {
  background-image: url(../images/background/background-contact.jpg);
}

.contact-wrapper {
  width: 343px;
  margin: 64px 64px;
  padding: 40px 40px 42px 40px;
  background-color: #fcfcfc;
}

.contact-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}


/* Подвал */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  column-gap: 259px;
}

.footer-link-group {
  display: flex;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 24px;
}

.footer-item {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}

.logo-footer-html {
  background-image: url(../images/icons/logo-html-academy.svg);
  width: 93px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Каталог */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2d3440;
}

.inner-header-title {
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: end;
}

.pagination-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2d3440;
}
